*$py.class
*.cover
*.css
*.css.map
*.mo
*.pot
*.py[cod]
.DS_Store
.cache
.coverage
.coverage.*
.dir-locals.el
.env
.idea/
.mypy_cache
.sass-cache
.tern-port
.testrpcdb
.tox/
.vscode
__pycache__/
coverage.xml
htmlcov/
media/
node_modules/
nosetests.xml
