{% extends "admin/base.html" %}
{% load i18n %}

{% block userlinks %}
    <a href="{% url 'two_factor:profile' %}">Two-Factor Auth</a>
    {{ block.super }}
{% endblock %}

{% block messages %}
    {{ block.super }}
    {% if request.user.is_authenticated and not request.user.has_enabled_2fa %}
    <ul class="messagelist">
        <li class="warning">
            Please enable <a href="{% url 'two_factor:profile' %}">Two-Factor Auth</a>,
            or your account will be deactivated.
        </li>
    </ul>
    {% endif %}
{% endblock messages %}
