{% load i18n %}
{% load static from staticfiles %}

<button class="base-auth__open-popup-button">
    {% trans "Continue with BitClave" %}
</button>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/Base.js' %}"></script>
<script>
 {% include "widget/IFrameRPC.js" %}
 {% include "widget/button.js" %}

 const $button = $('.base-auth__open-popup-button');
 const widget = new BASEAuthWidget();
 const onClickLogin = function () {
     const widgetOrigin = "{{ SITE_URL }}";
     const popup = window.open(
         "{% url 'widget:popup' %}",
         "{% trans 'Continue with BitClave' %}",
         "height=500, width=500'"
     );
     const popupRpc = new IFrameRPC(popup, widgetOrigin);

     popupRpc.once('submitMnenomic').then(function (rpcCall) {
         $button.prop('disabled', true);
         $button.text('Loading...');
         return widget.login(rpcCall.args[0]);
     }).then(function () {
         $button.text('Logged in!');
     });
     popup.focus();
 };

 $button.on('click', onClickLogin);
</script>
