{% load i18n %}
{% load static from staticfiles %}

<button class="base-auth__open-popup-button">
    {% trans "Continue with BitClave" %}
</button>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/Base.js' %}"></script>
<script>
 {% include "widget/IFrameRPC.js" %}
 {% include "widget/button.js" %}

 window.addEventListener("load", function () {
     new BASEAuthWidget(
         "https://base2-bitclva-com.herokuapp.com",
         $('.base-auth__open-popup-button'),
         "{% url 'widget:popup' %}",
         "{% trans 'Continue with BitClave' %}",
         "{{ SITE_URL }}"
     );
 });
</script>
