{% extends 'base/base.html' %}

{% load static from staticfiles %}
{% load i18n %}

{% block content %}
<div class="content">
    <main class="main">
        <div class="container">
            <div class="row">
                <p>
                    <div>
                        <label for="input-mnemonic">
                            {% trans "Enter your mnemonic" %}
                        </label>
                    </div>
                    <div>
                        <input
                            type="text"
                            id="input-mnemonic"
                            placeholder="{% trans 'Mnemonic' %}"
                        >
                    </div>
                </p>

                <p>
                    <button id="button-signin" type="submit">
                        {% trans "Sign In" %}
                    </button>
                    <button id="button-signup" type="submit">
                        {% trans "Sign Up" %}
                    </button>
                </p>
            </div>
        </div>
    </main>
</div>

<script src="{% static 'js/site.js' %}"></script>
<script>
 window.addEventListener('load', function () {
     new BASEAuth.PopupView(
         "{{ SITE_URL }}",
         $('#input-mnemonic'),
         $('#button-signup'),
         $('#button-signin')
     );
 });
</script>
{% endblock %}
