<div class="input">
    <div class="input__wrap">
        <div class="input__header">
            <label class="input__label">
                {{ field.label }}
            </label>
            {% for error in field.errors %}
                <label class="error" for="{{ field.name }}">{{ error }}</label>
            {% endfor %}
        </div>
        <input name="{{ field.name }}"
               {{ extra_attrs }}
               {% if field.field.max_length %}maxlength="{{ field.field.max_length }}"{% endif %}
               placeholder="{{ field.help_text }}"
               {% if field.field.required %}required{% endif %}
               class="input__input"
               type="password">
    </div>
</div>
